<div [formGroup]="form">

  <div [ngSwitch]="control.controlType">

    <!--INPUT-->
    <mat-form-field *ngSwitchCase="'input'" appearance="fill">
      <mat-label>{{ control.label }}</mat-label>
      <input matInput
             [type]="control.type!"
             [formControlName]="control.key"
             [id]="control.key">
      <mat-error *ngIf="form.get(control.key)!.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>
    <!--//INPUT-->

    <!--DROPDOWN-->
    <mat-form-field *ngSwitchCase="'dropdown'" appearance="fill">
      <mat-label>{{ control.label }}</mat-label>
      <mat-select [id]="control.key"
                  [formControlName]="control.key"
                  (selectionChange)="changeValue()"
      >
        <mat-option>-- None --</mat-option>
        <mat-optgroup *ngFor="let group of control.options"
                      [label]="group.name"
                      [disabled]="group.disabled">
          <mat-option *ngFor="let category of group.categories"
                      [value]="category.value">{{category.viewValue}}
          </mat-option>
        </mat-optgroup>
      </mat-select>
      <mat-error *ngIf="form.get(control.key)!.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>
    <!--//DROPDOWN-->

    <!--TOGGLE-SWITCH-->
    <mat-form-field *ngSwitchCase="'toggleSwitch'" floatLabel="always">
      <mat-slide-toggle
        [id]="control.key"
        [formControlName]="control.key"
        [checked]="control.checked"
        >{{ control.label }}</mat-slide-toggle>
      <textarea matInput hidden></textarea>
    </mat-form-field>
    <!--//TOGGLE-SWITCH-->

    <!--TEXTAREA-->
    <mat-form-field *ngSwitchCase="'textarea'" appearance="fill">
      <mat-label>{{ control.label }}</mat-label>
      <textarea [id]="control.key"
                [formControlName]="control.key"
                matInput
                placeholder="Description...">
      </textarea>
      <mat-error *ngIf="form.get(control.key)!.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>
    <!--//TEXTAREA-->

  </div>
<!--  <div class="errorMessage" *ngIf="!isValid">{{ question.label }}</div>-->
</div>


<!--    <mat-label>{{ question.label }}-->
<!--      <span *ngIf="validatorRequired" class="ast-red">&ast;</span>-->
<!--    </mat-label>-->


<!--    <div style="margin: 1rem 0;">-->
<!--      <mat-checkbox *ngSwitchCase="'checkbox'" [formControlName]="control.key"-->
<!--                    [id]="control.key"-->
<!--                    [checked]="!!control.value"-->
<!--      >-->
<!--  &lt;!&ndash;                  [checked]="question"&ndash;&gt;-->
<!--        {{ control.value }}-->
<!--      </mat-checkbox>-->
<!--    </div>-->
