<div class="menu-wrapper">
  <ul class="menu-categories">
    <li class="menu-categories__item">
      <a routerLink="/notebooks-and-computers" class="menu-categories__link">
        <mat-icon class="category-icon" aria-hidden="false" aria-label="laptop" >laptop</mat-icon>
        <span>Notebooks and Computers</span>
      </a>
    </li>
    <li class="menu-categories__item">
      <a routerLink="/telephony-tv-and-electronics" class="menu-categories__link">
        <mat-icon class="category-icon" aria-hidden="false" aria-label="laptop" >phone_iphone</mat-icon>
        <span>Phones, TV and Electronics</span>
      </a>
    </li>
  </ul>
</div>
