<mat-toolbar color="primary">
  <mat-toolbar-row class="layout">
    <button mat-icon-button class="icon" (click)="openSideNav()" aria-label="Open menu">
      <mat-icon>menu</mat-icon>
    </button>
    <a class="logo" routerLink="/">Oshop</a>

    <span class="spacer"></span>

    <ng-container  *ngIf="user$ | async; else anon">
      <a *ngIf="!isXSmall"
              mat-icon-button
              class="icon"
              aria-label="Open login or register dialog"
              routerLink="/cabinet">
        <mat-icon class="user-reg-circle-icon" svgIcon="user-circle-reg"></mat-icon>
      </a>
      <ng-container *ngIf="wishList$ | async as wishList">
        <a *ngIf="!isXSmall"
           mat-icon-button
           class="icon" aria-label="Open wish products page"
           routerLink="/wish-list">
          <mat-icon class="heart-reg-icon" svgIcon="heart-reg"
                    [matBadge]="wishList.totalItemsCount"
                    matBadgeOverlap="true"
                    matBadgePosition="above after"
                    matBadgeColor="warn"
                    [matBadgeHidden]="wishList.totalItemsCount < 1"
          ></mat-icon>
        </a>
      </ng-container>

    </ng-container>
    <ng-template #anon>
      <button *ngIf="!isXSmall"
              mat-icon-button
              class="icon"
              aria-label="Open login or register dialog"
              (click)="openDialog('login')">
        <mat-icon class="user-reg-circle-icon" svgIcon="user-circle-reg"></mat-icon>
      </button>
    </ng-template>
    <a *ngIf="cart$ | async as cart" mat-icon-button routerLink="/shopping-cart" class="icon" aria-label="Open shopping cart page">
      <mat-icon class="cart-reg-icon" svgIcon="cart-reg"
                [matBadge]="cart.totalItemsCount"
                matBadgeOverlap="true"
                matBadgePosition="above after"
                matBadgeColor="warn"
                [matBadgeHidden]="this.cart.totalItemsCount < 1"
      ></mat-icon>
    </a>

  </mat-toolbar-row>

</mat-toolbar>



