.layout {
  margin: 0 auto;
  max-width: 1600px;
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
}
@media (min-width: 768px) {
  .layout {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (min-width: 1024px) {
  .layout {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (min-width: 1280px) {
  .layout {
    padding-left: 32px;
    padding-right: 32px;
  }
}

a.logo {
  text-decoration: none;
  color: white;
}
.spacer {
  flex: 1 1 auto;
}
.icon {
  border-radius: 2px;
  margin: 0 2px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .cart-reg-icon,
  .user-reg-circle-icon,
  .heart-reg-icon {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
  }
}
