<div class="row">
  <div class="col-md-6">
    <form [formGroup]="form" (ngSubmit)="saveOrUpdate(form.value)">
      <ng-container *ngFor="let control of controls" class="form-row">
        <div class="form-group mb-3">
          <dynamic-form-control [control]="control"></dynamic-form-control>
        </div>
      </ng-container>

      <mat-accordion>
        <div class="form-group mb-3">
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Image Upload Block
              </mat-panel-title>
            </mat-expansion-panel-header>
            <uploader [filesFromOldValue]="oldValueImages" (newFilesListFromDrop)="getFilesFromDrop($event)" (backupFilesListFromDrop)="backupFilesFromDrop($event)"></uploader>
            <div *ngFor="let file of filesForLoading">
              <upload-task [file]="file" (imageObj)="addImage($event)"></upload-task>
            </div>
            <ng-container *ngIf="images$ | async as images">
              <div *ngIf="images.length > 0">
                <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let image of images" cdkDrag>
                    <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                    <product-image-item
                      [image]="image"
                      (deleteImageName)="deleteImage($event)"
                    ></product-image-item>
                  </div>
                </div>
              </div>
            </ng-container>
          </mat-expansion-panel>
        </div>
        <div class="form-group mb-3">
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Product Detail Block
              </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
        </div>
      </mat-accordion>
      <div class="form-group mb-3">
        <button class="btn btn-primary"
                [disabled]="form.invalid || !isFormChanged">
          Save
        </button>
        <button *ngIf="id" type="button" class="btn btn-danger"
          (click)="delete()">
          Delete
        </button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <product-card [product]="product" [show-actions]="false"></product-card>
    <pre>{{ form.value | json }}</pre>
    <pre>{{ form.valid | json }}</pre>
  </div>
</div>
