<ng-container *ngIf="user$ | async as user; else anonymous">
  <a routerLink="/cabinet/personal-info" class="avatar-block"
     (click)="closeSideNav()">
    <div class="side-nav__auth-avatar">
      <ng-container *ngIf="!user.photoURL; else image">
        <mat-icon class="circle-reg-icon" svgIcon="user-circle-reg"></mat-icon>
      </ng-container>
      <ng-template #image>
        <img [src]="user.photoURL" [alt]="user.displayName" referrerpolicy="no-referrer">
      </ng-template>
    </div>
    <div class="side-nav__auth-content">
      <div class="name">{{ user.displayName }}</div>
      <div class="email">{{ user.email }}</div>
    </div>
  </a>
</ng-container>
<ng-template #anonymous>
  <div class="avatar-block">
    <div class="side-nav__auth-avatar">
      <mat-icon class="circle-reg-icon" svgIcon="user-circle-reg"></mat-icon>
    </div>
    <div class="side-nav__auth-content">
      <button type="button"
              class="side-nav__auth-button"
              (click)="openDialog('login')">Login</button> or
      <button type="button"
              class="side-nav__auth-button"
              (click)="openDialog('register')">Register</button>
    </div>
  </div>
</ng-template>
