<div class="auth-social">
  <p>Login as User</p>
  <button mat-raised-button
          class="social-button"
          type="button"
          (click)="loginWithFacebook()">
    <mat-icon class="icon-item" svgIcon="facebook"></mat-icon>
    <span class="social-text">Facebook</span>
  </button>
  <button mat-raised-button
          class="social-button"
          type="button"
          (click)="loginWithGoogle()">
    <mat-icon class="icon-item" svgIcon="google"></mat-icon>
    <span class="social-text">Google</span>
  </button>
</div>
