<div class="row">
  <div class="col-md-6">
    <form [formGroup]="form" (ngSubmit)="save(form.value)">
      <div class="form-group mb-3">
        <label for="title">Title</label>
        <input
          id="title"
          type="text"
          class="form-control"
          name="title"
          formControlName="title"
        >
        <div *ngIf="form.get('title')!.dirty && form.get('title')!.invalid" class="alert alert-danger">
          <small *ngIf="form.get('title')!.hasError('required')">Required</small>
          <small *ngIf="form.get('title')!.hasError('minlength')">Min length {{ form.get('title')!.errors!['minlength']['requiredLength'] }}</small>
        </div>
      </div>
      <div class="form-group mb-3">
        <label for="price">Price</label>
        <div class="input-group">
          <span class="input-group-text">$</span>
          <input
            id="price"
            type="number"
            class="form-control"
            aria-label="Amount (to the nearest dollar)"
            name="price"
            formControlName="price"
          >
        </div>
        <div *ngIf="form.get('price')!.dirty && form.get('price')!.invalid" class="alert alert-danger">
          <small *ngIf="form.get('price')!.hasError('required')">Required</small>
          <small *ngIf="form.get('price')!.hasError('min')">Should be 0 or higher. </small>
          <small *ngIf="form.get('price')!.hasError('pattern')">Should be only numbers (two number after dot). </small>
        </div>
      </div>
      <div class="form-group mb-3">
        <label for="category">Category</label>
        <select
          id="category"
          type="number"
          class="form-control"
          name="category"
          formControlName="category"
        >
          <option value=""></option>
          <option *ngFor="let c of categories$ | async" [value]="c.key">{{ c.name }}</option>
        </select>
        <div *ngIf="form.get('category')!.dirty && form.get('category')!.invalid" class="alert alert-danger">
          <small *ngIf="form.get('category')!.hasError('required')">Required</small>
        </div>
      </div>
      <div class="form-group mb-3">
        <label for="imageUrl">Image URL</label>
        <input
          id="imageUrl"
          type="url"
          class="form-control"
          name="imageUrl"
          formControlName="imageUrl"
        >
        <div *ngIf="form.get('imageUrl')!.dirty && form.get('imageUrl')!.invalid" class="alert alert-danger">
          <small *ngIf="form.get('imageUrl')!.hasError('required')">Required</small>
          <small *ngIf="form.get('imageUrl')!.hasError('pattern')">Please enter valid URL</small>
        </div>
      </div>
      <button class="btn btn-primary" [disabled]="form.invalid">Save</button>
      <button *ngIf="id" type="button" class="btn btn-danger" (click)="delete()">Delete</button>
    </form>
  </div>
  <div class="col-md-6">
    <div class="card">
      <img *ngIf="form.get('imageUrl')!.value; else defaultImg" [src]="form.get('imageUrl')!.value" class="card-img-top" alt="...">
      <ng-template #defaultImg>
        <div class="img-default">
          Image
        </div>
      </ng-template>
      <div class="card-body">
        <h5 class="card-title" *ngIf="form.get('title')!.value; else defaultTitle">{{ form.get('title')!.value }}</h5>
        <ng-template #defaultTitle><h5>Product Name</h5></ng-template>
        <p class="card-text">Price: {{ form.get('price')!.value | currency: 'USD' }}</p>
      </div>
    </div>
  </div>
</div>

