<mat-sidenav-container>
  <mat-sidenav class="side-nav-bar" [(opened)]="sideNavOpened">
    <div class="side-nav__header">
      <a class="logo" routerLink="/">Oshop</a>
      <button type="button" class="btn-close" (click)="sideNavOpened = false"></button>
    </div>
    <div class="side-nav__body">
      <div class="side-nav__auth">
        <ng-container *ngIf="user$ | async as user; else anonymous">
          <a routerLink="/cabinet" class="avatar-block">
            <div class="side-nav__auth-avatar">
              <img [src]="user.photoURL" [alt]="user.displayName">
            </div>
            <div class="side-nav__auth-content">
              <div class="name">{{ user.displayName }}</div>
              <div class="email">{{ user.email }}</div>
            </div>
          </a>
        </ng-container>
        <ng-template #anonymous>
          <div class="avatar-block">
            <div class="side-nav__auth-avatar">
              <mat-icon class="circle-reg-icon" svgIcon="user-circle-reg"></mat-icon>
            </div>
            <div class="side-nav__auth-content">
              <button type="button" class="side-nav__auth-button" (click)="login()">LogIn</button> or
              <button type="button" class="side-nav__auth-button" (click)="register()">Register</button>
            </div>
          </div>
        </ng-template>
      </div>
      <ul class="side-nav__list">
        <li class="side-nav__list-item">
          <button class="side-nav__button" type="button">
            <mat-icon class="icon-item circle-icon-reg" svgIcon="user-circle-reg"></mat-icon>
            Catalog
          </button>
        </li>
        <li class="side-nav__list-item">
          <a class="side-nav__button" routerLink="/my/orders" (click)="sideNavOpened = false">
            <mat-icon class="icon-item circle-icon-reg" svgIcon="user-circle-reg"></mat-icon>
            My Orders
          </a>
        </li>
        <li class="side-nav__list-item">
          <a class="side-nav__button" routerLink="/shopping-cart" (click)="sideNavOpened = false">
            <mat-icon class="icon-item circle-icon-reg" svgIcon="user-circle-reg"></mat-icon>
            Cart
            <ng-container *ngIf="cart$ | async as cart">
              <span *ngIf="cart.totalItemsCount > 0" class="badge-icon">{{ cart.totalItemsCount }}</span>
            </ng-container>
          </a>
        </li>
      </ul>
      <ng-container *ngIf="appUser$ | async as appUser">
        <ng-container *ngIf="appUser.isAdmin">
          <ul class="side-nav__list">
            <li class="side-nav__list-item">
              <a class="side-nav__button" routerLink="/admin/orders" (click)="sideNavOpened = false">
                <mat-icon class="icon-item circle-icon-reg" svgIcon="user-circle-reg"></mat-icon>
                Manage Orders
              </a>
            </li>
            <li class="side-nav__list-item">
              <a class="side-nav__button" routerLink="/admin/products" (click)="sideNavOpened = false">
                <mat-icon class="icon-item circle-icon-reg" svgIcon="user-circle-reg"></mat-icon>
                Manage Products
              </a>
            </li>
          </ul>
        </ng-container>
      </ng-container>
      <ul class="side-nav__list">
        <li class="side-nav__list-item">
          <button class="side-nav__button" type="button">
            <mat-icon class="icon-item circle-icon-reg" svgIcon="user-circle-reg"></mat-icon>
            Wish List
          </button>
        </li>
        <li class="side-nav__list-item">
          <a class="side-nav__button" routerLink="/my/orders" (click)="sideNavOpened = false">
            <mat-icon class="icon-item circle-icon-reg" svgIcon="user-circle-reg"></mat-icon>
            Compare
          </a>
        </li>
      </ul>
      <ul class="side-nav__list">
        <li class="side-nav__list-item">
          <a class="side-nav__button" routerLink="/" (click)="sideNavOpened = false">
            <mat-icon class="icon-item circle-icon-reg" svgIcon="user-circle-reg"></mat-icon>
            About Us
          </a>
        </li>
        <li class="side-nav__list-item">
          <a class="side-nav__button" routerLink="/" (click)="sideNavOpened = false">
            <mat-icon class="icon-item circle-icon-reg" svgIcon="user-circle-reg"></mat-icon>
            Contacts
          </a>
        </li>
      </ul>
      <ul class="side-nav__list">
        <li class="side-nav__list-item">
          <button class="side-nav__button" type="button" (click)="logOut()">
            <mat-icon class="icon-item circle-icon-reg" svgIcon="user-circle-reg"></mat-icon>
            Logout
          </button>
        </li>
      </ul>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="side-nav-content">



  <app-toolbar (sideNavOpen)="openSideNav($event)" class="sticky-top-toolbar"></app-toolbar>
<!--  <bs-navbar class="sticky-top"></bs-navbar>-->

  <main class="main">
    <router-outlet></router-outlet>
  </main>


    <app-footer></app-footer>

  </mat-sidenav-content>
</mat-sidenav-container>


