<mat-sidenav-container>
  <mat-sidenav class="side-nav-bar" [(opened)]="sideNavOpened">
    <div class="side-nav__header">
      <a class="logo" routerLink="/">Oshop</a>
      <button type="button" class="btn-close" (click)="sideNavOpened = false"></button>
    </div>
    <div class="side-nav__body">
      <div class="side-nav__auth">
        <app-auth-avatar (success)="sideNavOpened = false"></app-auth-avatar>
      </div>
      <ul class="side-nav__list">
        <li class="side-nav__list-item">
          <button class="side-nav__button" type="button">
            <mat-icon class="icon-item circle-icon-reg" svgIcon="user-circle-reg"></mat-icon>
            Catalog
          </button>
        </li>
        <li class="side-nav__list-item">
          <a class="side-nav__button" routerLink="/my/orders" (click)="sideNavOpened = false">
            <mat-icon class="icon-item circle-icon-reg" svgIcon="user-circle-reg"></mat-icon>
            My Orders
          </a>
        </li>
        <li class="side-nav__list-item">
          <a class="side-nav__button" routerLink="/shopping-cart" (click)="sideNavOpened = false">
            <mat-icon class="icon-item circle-icon-reg" svgIcon="user-circle-reg"></mat-icon>
            Cart
            <ng-container *ngIf="cart$ | async as cart">
              <span *ngIf="cart.totalItemsCount > 0" class="badge-icon">{{ cart.totalItemsCount }}</span>
            </ng-container>
          </a>
        </li>
      </ul>
      <ng-container *ngIf="user$ | async as user">
        <ng-container *ngIf="user.isAdmin">
          <ul class="side-nav__list">
            <li class="side-nav__list-item">
              <a class="side-nav__button" routerLink="/admin/orders" (click)="sideNavOpened = false">
                <mat-icon class="icon-item circle-icon-reg" svgIcon="user-circle-reg"></mat-icon>
                Manage Orders
              </a>
            </li>
            <li class="side-nav__list-item">
              <a class="side-nav__button" routerLink="/admin/products" (click)="sideNavOpened = false">
                <mat-icon class="icon-item circle-icon-reg" svgIcon="user-circle-reg"></mat-icon>
                Manage Products
              </a>
            </li>
          </ul>
        </ng-container>
      </ng-container>
      <ul class="side-nav__list">
        <li class="side-nav__list-item">
          <button class="side-nav__button" type="button">
            <mat-icon class="icon-item circle-icon-reg" svgIcon="user-circle-reg"></mat-icon>
            Wish List
          </button>
        </li>
        <li class="side-nav__list-item">
          <a class="side-nav__button" routerLink="/my/orders" (click)="sideNavOpened = false">
            <mat-icon class="icon-item circle-icon-reg" svgIcon="user-circle-reg"></mat-icon>
            Compare
          </a>
        </li>
      </ul>
      <ul class="side-nav__list">
        <li class="side-nav__list-item">
          <a class="side-nav__button" routerLink="/" (click)="sideNavOpened = false">
            <mat-icon class="icon-item circle-icon-reg" svgIcon="user-circle-reg"></mat-icon>
            About Us
          </a>
        </li>
        <li class="side-nav__list-item">
          <a class="side-nav__button" routerLink="/" (click)="sideNavOpened = false">
            <mat-icon class="icon-item circle-icon-reg" svgIcon="user-circle-reg"></mat-icon>
            Contacts
          </a>
        </li>
      </ul>
      <ul class="side-nav__list">
        <li class="side-nav__list-item">
          <button class="side-nav__button" type="button" (click)="logout()">
            <mat-icon class="icon-item circle-icon-reg" svgIcon="user-circle-reg"></mat-icon>
            Logout
          </button>
        </li>
      </ul>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="side-nav-content">

    <app-toolbar class="sticky-top-toolbar" (sideNavOpen)="openSideNav($event)"></app-toolbar>
    <main class="main">
      <router-outlet></router-outlet>
    </main>
    <app-footer></app-footer>

  </mat-sidenav-content>
</mat-sidenav-container>

<notifier-container></notifier-container>
