<!--  CATALOG SETTINGS COMPONENT-->
<div class="layout">
  Catalog Settings
</div>
<!--  // CATALOG SETTINGS COMPONENT-->
<div class="layout layout-with-sidebar">
<!--  FILTER COMPONENT-->
  <ng-container>
    <aside class="sidebar" [ngClass]="{'hide': !isWideScreen}">
      <div>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Brands
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Brand list</p>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Price
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Price</p>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Available to Ship
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Available to Ship</p>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                CPU
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>CPU list Checkboxes</p>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Display diagonal
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Diagonal List Checkboxes</p>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                RAM Volume
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>RAM Volume List Checkboxes</p>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                SSD Volume
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>SSD Volume List Checkboxes</p>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Operating System
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>OS List Checkboxes</p>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                VideoCard
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>VideoCard Checkboxes</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </aside>
  </ng-container>
<!--  // FILTER COMPONENT-->
  <section class="content">
    <!--  GRID COMPONENT-->
    <ul class="catalog-grid">
      <li class="catalog-grid__item"
          [ngClass]="{
            'item__cols-5': isXLarge,
            'item__cols-4': isLarge,
            'item__cols-3': isMedium,
            'item__cols-2': isSmall,
            'item__cols-1': isXSmall
          }"
          *ngFor="let product of products">
        <ng-container *ngIf="product.available">
          <product-card-new [product]="product" [shopping-cart]="cart" [wish-list]="wishList"></product-card-new>
        </ng-container>
      </li>
    </ul>
    <!--  // GRID COMPONENT-->
    <!--  CATALOG PAGINATOR COMPONENT-->
    <!--  // CATALOG PAGINATOR COMPONENT-->
  </section>
</div>
