<div class="row">
  <div class="col-md-4 col-lg-3">
    <product-filter [category]="category"></product-filter>
  </div>
  <div class="col">
    <div class="row">
      <ng-container *ngFor="let product of filteredProducts">
        <ng-container *ngIf="product.available">
          <div class="col-md-6 col-xl-4">
            <product-card-new [product]="product" [shopping-cart]="cart"></product-card-new>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>

