.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 0;

  .form-field {
    margin-bottom: .5rem;
  }
  .link-button {
    margin-top: 1rem;
  }
}

.big-button {
  font-size: large;
  padding-top: .4rem;
  padding-bottom: .4rem;
}
