<form class="form" [formGroup]="form">
  <mat-form-field class="form-field" appearance="fill">
    <mat-label>Enter your email</mat-label>
    <input matInput
           type="email"
           formControlName="email"
           id="email">
    <mat-error *ngIf="form.get('email')!.hasError('required')">Email required</mat-error>
    <mat-error *ngIf="form.get('email')!.hasError('email')">Email invalid</mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary"
          class="big-button"
          [disabled]="form.invalid"
          (click)="resetPassword()"
  >Reset Password</button>
  <button type="button"
          mat-flat-button
          class="link-button"
          (click)="switchToLogin()"
  >I remember password</button>
</form>


