.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 100%;
  font-weight: 200;
  height: 150px;
  border: 2px dashed grey;
  border-radius: 5px;
  background: white;
  margin: 10px 0;
  padding: 10px;

  .formInputFile {
    margin-bottom: 1rem;
  }

}
