<div class="card" [ngClass]="{'deleted': isDeleted}">
  <div class="card-header" [ngClass]="{'deleted': isDeleted}">
    <span>{{ image.fileName }}</span>
      <button class="btn btn-light btn-sm"
              type="button"
              (click)="isDeleted ? restoreImage() : deleteImage()"
      >{{ isDeleted ? 'Restore' : 'Delete' }}</button>
  </div>
  <div class="card-body">
    <div class="card-content">
      <div class="image-block">
        <img class="card-image" [src]="image.url" alt="">
      </div>
      <div class="info-block">
        <p>Key: {{ image.key }}</p>
        <p>Size: {{ image.size | filesize }}</p>
        <p>Modified: {{ image.lastModified | date: 'short' }}</p>
        <p>Type: {{ image.type }}</p>
      </div>
    </div>
  </div>
</div>
