<p>notebook-detail works!</p>
<div [formGroup]="childForm">
  <mat-form-field appearance="fill">
    <mat-label>NOTEBOOK Screen Diagonal</mat-label>
    <input matInput
           type="text"
           formControlName="screen_diagonal"
           id="screen_diagonal">
    <mat-error *ngIf="childForm.get('screen_diagonal')!.hasError('required')">Error screen diagonal</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>NOTEBOOK Screen Type</mat-label>
    <input matInput
           type="text"
           formControlName="screen_type"
           id="screen_type">
    <mat-error *ngIf="childForm.get('screen_type')!.invalid">Error TYPE</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>NOTEBOOK Processor Cpu</mat-label>
    <input matInput
           type="text"
           formControlName="processor_cpu"
           id="processor_cpu">
    <mat-error *ngIf="childForm.get('processor_cpu')!.invalid">Error sCPU</mat-error>
  </mat-form-field>
</div>
